.block {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
    margin:2%;
}

.blockMenu {
    float: right;
    padding: 2px;
    margin: 2px;
}
.blockType {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-top-right-radius: 0px;
    display: inline-block;
}